.wrapper {
    text-align: center;
    font-size: 1em;
}

.scene {
    font-size: 2.5em;
}

.location {
    font-size: 1.2em;
}

.name {
    border-bottom: 3px solid #FF1178;   
}

.place {
    border-bottom: 3px solid #01FFF4;
}

.job {
    border-bottom: 3px solid;
}

.object {
    border-bottom: 3px solid;
}

.emotion {
    border-bottom: 3px solid #49ff11;
}

.name:hover {
    background-color: #FF1178;
}

.place:hover {
    background-color: #01FFF4;
}

.job:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-bottom: 3px solid #FFFFFF;
}

.object:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-bottom: 3px solid #FFFFFF;
}

.emotion:hover {
    background-color: #49ff11;
    border-bottom: 3px solid #49ff11;
}

.line_change {
    font-size: 1.2em;
    margin-top: 10px;
}

.line_regular {
    font-size: 1.1em;
}

.line_dialogue {
    margin-bottom: 10px;
}

.word_location {
    border-bottom: 3px solid #49ff11;
}

.word_in_out {
    border-bottom: 3px solid #ff11f7;
}

.word_time_of_day {
    border-bottom: 3px solid #11ffef;
}

.word_name {
    border-bottom: 3px solid #15ff00;
}

.word_colour {
    border-bottom: 3px solid #ff6a00;
}

.word_tone {
    border-bottom: 3px solid #aa00ff;
}

.word_action {
    border-bottom: 3px solid #ffffff;
}

.word_location:hover {
    cursor: pointer;
    color: #000000;
    background-color: #49ff11;
    border-bottom: 3px solid #49ff11;
}

.word_in_out:hover {
    cursor: pointer;
    background-color: #ff11f7;
    border-bottom: 3px solid #ff11f7;
}

.word_time_of_day:hover {
    cursor: pointer;
    background-color: #11ffef;
    border-bottom: 3px solid #11ffef;
}

.word_name:hover {
    cursor: pointer;
    color: #000000;
    background-color: #15ff00;
    border-bottom: 3px solid #15ff00;
}

.word_colour:hover {
    cursor: pointer;
    background-color: #FF6A00;
    border-bottom: 3px solid #ff6a00;
}

.word_tone:hover {
    cursor: pointer;
    background-color: #AA00FF;
    border-bottom: 3px solid #AA00FF;
}

.word_action:hover {
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.line_location {
    font-size: 1.2em;
}