.wrapper {
    padding: 10px;
    background-color: rgb(42, 42, 42);
    display: grid;
    grid-template-areas: 
        "channel colour colour"
        "channel info info"
        "param_red param_green param_blue";

    text-align: center;
    user-select: none;
    gap: 5px;
    width: 120px;
}

.wrapper div {
    background-color: rgb(58, 58, 58);
}

.channel {
    grid-area: channel;
    font-size: 1.5em;
    padding-top: 12px;
}

.colour {
    grid-area: colour;
}

.param_red {
    grid-area: param_red;
}

.param_green {
    grid-area: param_green;
}

.param_blue {
    grid-area: param_blue;
}

.info {
    grid-area: info;
}