.wrapper {
    width: 100%;
    text-align: center;
    font-size: 1em;
    background-color: #3D3D3D;
    color: #FFFFFF;
    border: none;
    appearance: none;
    cursor: pointer;
}

.wrapper:focus {
    outline: none;
}

.wrapper option {
    background-color: #4f4f4f;
}

