.wrapper {
    background-color: rgb(38, 38, 38);
    padding: 10px;
}

.header {

    background-color: rgb(52,52,52);
    margin-bottom: 10px;
}

.fixtures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}