.wrapper {
    padding-top: 10px;
    background-color: rgb(52,52,52);
    display: grid;
    grid-template-areas: 
        "channel_title address_title mode_title"
        "channel_value address_value mode_value"
        "name_value name_value name_value";
    text-align: center;
}

.channel_title {
    grid-area: channel_title;
}

.channel_value {
    grid-area: channel_value;
    cursor: pointer;
}

.address_title {
    grid-area: address_title;
}

.address_value {
    grid-area: address_value;
    cursor: pointer;
}

.mode_title {
    grid-area: mode_title;
}

.mode_value {
    grid-area: mode_value;
    cursor: pointer;
}

.name_value {
    border-top: 3px solid #464646;
    background-color: #3D3D3D;
    grid-area: name_value;
    height: 40px;
    display: flex;
    justify-content: center;
}

.wrapper input {
    background-color: #343434;
    color: #FFFFFF;
    text-align: center;
    outline: none;
    border: none;
    width: 40px;
    text-emphasis: bold;
    font-size: 1.05em;
    height: 20px;
}
