.wrapper {
    background-color: rgb(31, 31, 31);
    display: flex;
    text-align: center;
    padding: 10px;
}

.header_1 {
    font-size: 1em;
    flex: 1;
}

.header_2 {
    font-size: 1.4em;
    font-weight: 100;
    flex: 1;
    user-select: none;
}

.header_3 {
    font-size: 1em;
    flex: 1;
}