.wrapper {
    color: white;
}

.prompt {
    display: flex;
}

.prompt button {
    color: white;
    background-color: rgb(32, 32, 32);
    border: none;
    width: 30%;
    font-size: 1.05em;
}

.prompt input {
    width: 70%;
    padding: 10px;
    width: 100%;
    font-size: 1.05em;
    border: none;
    outline: none;
    background-color: rgb(38, 38, 38);
    color: white;
}

.prompt button:hover {
    background-color: rgb(79, 79, 79);
    cursor: pointer;
}