.wrapper {
    display: flex;
    height: 40px;
}

.colour {
    width: 40px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    background-color: #1d1d1d;
    line-height: 2;
    padding-right: 35px;
}
