.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.wrapper > div {
    background-color: #222222;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper > div:hover {
    background-color: rgb(0, 160, 160);
}